@import "importStyles.scss";
.brand-container {
    background-color: $lightgrey;
    border: 1px solid $darkgrey;
    border-radius: 5px;
    color: $black;
    padding: 30px;
}

.app-container-bg {
    background-color: $bg-dark;
    color: $lightgrey;
    font-family: $font-title;
    font-size: $size-title;
    text-align: center;
}
