/*************************
   
********************$CONTAINERS

*************************/

/*
* container padding
*/

$padding-container: 10px;
$padding-layout: 20px;
$padding-flex: 30px;
$padding-item: 50px;
